# **DATA STRUCTURE ASSIGNMENT**
*Theory Questions*

Q1.  What are data structures, and why are they important.
- Data structures are specialized formats for organizing, processing, and storing data in a computer. They enable efficient data management and manipulation, allowing for optimized performance in algorithms.
- Data structures are important because they provide a means to manage large amounts of data efficiently, facilitate data retrieval, and improve the performance of software applications.

Q2.  Explain the difference between mutable and immutable data types with examples.
- Mutable Data Types: These are data types that can be changed after they are created. Examples include lists and dictionaries.

In [1]:
my_list = [1, 2, 3]
my_list[0] = 10  # my_list is now [10, 2, 3]

- Immutable Data Types: These are data types that cannot be changed after they are created. Examples include strings and tuples.

In [ ]:
my_tuple = (1, 2, 3)
# my_tuple[0] = 10  # This will raise a TypeError

Q3.  What are the main differences between lists and tuples in Python.
   - Main Differences Between Lists and Tuples in Python

- Mutability: Lists are mutable, while tuples are immutable.

- Syntax: Lists are defined using square brackets [], while tuples use parentheses ().

- Performance: Tuples can be slightly faster than lists for iteration due to their immutability.

- Use Cases: Lists are used for collections of items that may change, while tuples are often used for fixed collections of items.

Q4.  Describe how dictionaries store data.
- Dictionaries in Python store data in key-value pairs. Each key is unique and is used to access its corresponding value. Internally, dictionaries use a hash table to manage these pairs, allowing for average-case constant time complexity for lookups, insertions, and deletions.

Q5. Why might you use a set instead of a list in Python.
- Sets are used when you need to store unique items and do not care about the order of elements. They automatically handle duplicate values, making them ideal for membership tests and eliminating duplicates from a collection.

Q6.  What is a string in Python, and how is it different from a list.
- A string in Python is a sequence of characters enclosed in quotes. Unlike lists, strings are immutable, meaning you cannot change their content after creation. In contrast, lists can contain multiple data types and can be modified.

Q7.  How do tuples ensure data integrity in Python.
- Tuples ensure data integrity by being immutable. Once a tuple is created, its contents cannot be altered, which prevents accidental changes to the data. This is particularly useful when you want to ensure that a collection of values remains constant throughout the program.

Q8. What is a hash table, and how does it relate to dictionaries in Python.
- A hash table is a data structure that implements an associative array, a structure that can map keys to values. In Python, dictionaries are implemented using hash tables, allowing for efficient data retrieval based on unique keys.

Q9. Can lists contain different data types in Python.
- Yes, lists in Python can contain elements of different data types.

Q10.  Explain why strings are immutable in Python.
- Strings are immutable in Python to ensure that they can be safely shared across different parts of a program without the risk of unintended modifications. This immutability also allows for optimizations in memory usage and performance.

Q11. What advantages do dictionaries offer over lists for certain tasks.
- Dictionaries offer several advantages over lists:

- Fast Lookups: Accessing values by key is generally faster than searching through a list.
- Unique Keys: They automatically handle uniqueness, preventing duplicate keys.
- Associative Mapping: They allow for more meaningful data representation by associating values with keys.

Q12. Describe a scenario where using a tuple would be preferable over a list.
- Using a tuple would be preferable when you want to store a fixed collection of items that should not change, such as coordinates (x, y) or RGB color values. For example:

In [ ]:
point = (10, 20)  # Represents a fixed point in 2D space

 Q13. How do sets handle duplicate values in Python
 - Sets automatically eliminate duplicate values. When you add an item to a set, if that item already exists, it will not be added again. For example:

In [ ]:
my_set = {1, 2, 2, 3}  # my_set will be {1, 2, 3}

Q14. How does the “in” keyword work differently for lists and dictionaries.
- For Lists: The in keyword checks for the presence of a specific value within the list. It returns True if the value exists and False otherwise. For example:

In [ ]:
my_list = [1, 2, 3, 4]
print(2 in my_list)  # Output: True
print(5 in my_list)  # Output: False

True
False

- For Dictionaries: The in keyword checks for the presence of a specific key in the dictionary, not the value. It returns True if the key exists and False otherwise. For example:

In [ ]:
my_dict = {'a': 1, 'b': 2}
print('a' in my_dict)  # Output: True
print(1 in my_dict)     # Output: False (1 is a value, not a key)

True
False

Q15.  Can you modify the elements of a tuple? Explain why or why not.
- No, you cannot modify the elements of a tuple. Tuples are immutable, meaning that once they are created, their contents cannot be changed. This immutability is by design, allowing tuples to be used as keys in dictionaries and ensuring that the data they contain remains constant throughout the program. If you need to change the contents, you would have to create a new tuple.

Q16. What is a nested dictionary, and give an example of its use case.
- A nested dictionary is a dictionary that contains other dictionaries as its values. This structure allows for the representation of more complex data relationships.
- In this example, each student's name is a key, and their grades in different subjects are stored in a nested dictionary.

In [ ]:
students = {
    'Alia': {'Math': 90, 'Science': 85},
    'Bobby': {'Math': 75, 'Science': 80},
    'Chahat': {'Math': 95, 'Science': 90}
}

Q17. Describe the time complexity of accessing elements in a dictionary.
- The average time complexity for accessing elements in a dictionary is O(1) due to the underlying hash table implementation. This means that, on average, it takes constant time to retrieve a value given its key. However, in the worst-case scenario (e.g., many collisions), the time complexity can degrade to O(n), where n is the number of entries in the dictionary.

Q18.  In what situations are lists preferred over dictionaries.
- Lists are preferred over dictionaries in situations where:

- Order Matters: If the order of elements is important, lists are the better choice since they maintain the order of insertion.
- Index-Based Access: When you need to access elements by their position (index) rather than by a key.
- Simple Collections: When you have a simple collection of items without the need for key-value pairs, lists are more straightforward.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval.
- Dictionaries are considered unordered because, prior to Python 3.7, they did not maintain the order of elements. Even though Python 3.7 and later versions maintain insertion order, the concept of "unordered" refers to the fact that you access values via keys rather than by position. This affects data retrieval in that you cannot rely on the order of items when iterating through a dictionary; you must use keys to access values.

Q20.  Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists: Data retrieval is done using an index. You access elements by their position in the list, which is zero-based. For example:

In [ ]:
my_list = [10, 20, 30]
print(my_list[1])  # Output: 20

20

Dictionaries: Data retrieval is done using keys. You access values by their associated keys, which can be of various immutable types (like strings or numbers). For example:

In [ ]:
my_dict = {'a': 1, 'b': 2}
print(my_dict['b'])  # Output: 2

2

*Practical Questions*

In [3]:
# Q1. Write a code to create a string with your name and print it
my_name = "Roshi"
print(my_name)

Roshi

In [4]:
# Q2.  Write a code to find the length of the string "Hello World"
hello_world = "Hello World"
length = len(hello_world)
print(length)

11

In [5]:
# Q3.  Write a code to slice the first 3 characters from the string "Python Programming"
python_string = "Python Programming"
sliced_string = python_string[:3]
print(sliced_string)

Pyt

In [6]:
# Q4.  Write a code to convert the string "hello" to uppercase
hello = "hello"
uppercase_hello = hello.upper()
print(uppercase_hello)

HELLO

In [7]:
# Q5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"
original_string = "I like apple"
replaced_string = original_string.replace("apple", "orange")
print(replaced_string)

I like orange

In [8]:
# Q6.  Write a code to create a list with numbers 1 to 5 and print it
number_list = [1, 2, 3, 4, 5]
print(number_list)

[1, 2, 3, 4, 5]

In [9]:
# Q7.  Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [10]:
# Q8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
another_list = [1, 2, 3, 4, 5]
another_list.remove(3)
print(another_list)

[1, 2, 4, 5]

In [11]:
# Q9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
char_list = ['a', 'b', 'c', 'd']
second_element = char_list[1]
print(second_element)

b

In [12]:
# Q10.  Write a code to reverse the list [10, 20, 30, 40, 50].
reverse_list = [10, 20, 30, 40, 50]
reverse_list.reverse()
print(reverse_list)

[50, 40, 30, 20, 10]

In [13]:
# Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [14]:
# Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [15]:
# Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
minimum_number = min(numbers)
print(minimum_number)

5

In [16]:
# Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [19]:
# Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ('apple', 'kiwi', 'orange')
is_kiwi_in_fruits = 'kiwi' in fruits
print(is_kiwi_in_fruits)

True

In [18]:
# Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [20]:
# Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [21]:
# Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [22]:
# Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [23]:
# Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [25]:
# Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "Roshi", "age": 20, "city": "Delhi"}
print(my_dict)

{'name': 'Roshi', 'age': 20, 'city': 'Delhi'}

In [26]:
# Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
# Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

In [28]:
# Q24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [29]:
# Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
my_dict = {'name': 'Alice', 'city': 'Paris'}
exists = 'city' in my_dict
print(exists)

True

In [30]:
# Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3)
my_dict = {'key1': 'value1', 'key2': 'value2'}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
(1, 2, 3)
{'key1': 'value1', 'key2': 'value2'}

In [32]:
# Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result (replaced)
import random

random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print(random_numbers)

[8, 29, 75, 84, 99]

In [34]:
# Q28. Write a code to create a list with strings and print the element at the third index
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(my_list[3])

date

In [35]:
# Q29. Write a code to combine two dictionaries into one and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}  # Note: 'b' will be overwritten
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 3, 'c': 4}

In [37]:
# Q30.  Write a code to convert a list of strings into a set
my_list = ['apple', 'banana', 'apple', 'cherry']
my_set = set(my_list)
print(my_set)

{'banana', 'apple', 'cherry'}